.vs/
PictureflectPartialSource/AppPackages/
PictureflectPartialSource/bin/
PictureflectPartialSource/BundleArtifacts/
PictureflectPartialSource/obj/
obj/
packages/
x64/
x86/
ARM/
Debug/
Release/

PictureflectPartialSource/_pkginfo.txt
*.pfx